@{
    ViewData["Title"] = "Home Page";
}
@model List<Question>

<div class="container">
    <form asp-controller="Game" asp-action="StartQuiz" method="get">
        <button type="submit" class="btn btn-success">ქვიზის დაწყება</button>
    </form>
</div>